<section id="header">
    <div class="content">
        <div class="container">
                <h2 class="text-center"> Welcome to </h2>
                <h1 class="text-center"> El - webdesigner</h1>
        </div>
    </div>
    <div class="bg-img"></div>
    <div id="particles-js"></div>
</section>


<div id="slider-header">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                    <div class="carousel-item active">
                            <div class="container carousel-item-content">
                                    <img class="item1" src="../assets/images/slider-item-1.png" />
                                    <div class="details">
                                            <h1>website</h1>
                                            <h3>Development</h3>
                                            <a href="#"> START </a>
                                    </div>
                            </div> <!-- carousel-item-content -->
                    </div> <!-- carousel-item -->

                    <div class="carousel-item">
                            <div class="container carousel-item-content">
                                    <img class="item2" src="../assets/images/slider-item-2.png" />
                                    <div class="details">
                                            <h1>APP</h1>
                                            <h3>Development</h3>
                                            <a href="#"> START </a>
                                    </div>
                            </div> <!-- carousel-item-content -->
                    </div> <!-- carousel-item -->
                    <div class="carousel-item">
                            <div class="container carousel-item-content">
                                    <img class="item3" src="../assets/images/slider-item-3.png" />
                                    <div class="details">
                                            <h1>Project</h1>
                                            <h3>Managment</h3>
                                            <a href="#"> START </a>
                                    </div>
                            </div> <!-- carousel-item-content -->
                    </div> <!-- carousel-item -->
            </div>


            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
            </a>
    </div>

    <div class="bg-img"></div>
    <div class="slider-items">
            <img class="item02" src="../assets/images/slider-item-02.png" />
            <img class="item03" src="../assets/images/slider-item-03.png" />
            <img class="item04" src="../assets/images/slider-item-04.png" />
            <img class="item05" src="../assets/images/slider-item-05.png" />
    </div>
</div>

<section id="about">
    <div class="container">
            <div class="row">
                    <div class="col flex-center-center">
                            <p> If You Are reading At This Words .. so You Can Design Your Project By The Latest
                                    Programming Languages </p>
                    </div>
                    <div class="col">
                            <img class="img-fluid" src="../assets/images/web-designer.png" />
                    </div>
            </div>
    </div>
</section>


<div class="wrapper">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>

<div class="item">
    <div style="background-color: #7f7f7f;padding: 10px; width: 25%;" class="block animate" data-animate="bounceIn"
            data-duration="1.0s" data-delay="0.1s"> aaa</div>
</div>
<div class="item">
    <div style="background-color: #7f7f7f;padding: 10px; width: 25%;" class="block animate" data-animate="bounceIn"
            data-duration="1.0s" data-delay="0.1s"> aaa</div>
</div>
<div class="item">
    <div style="background-color: #7f7f7f;padding: 10px; width: 25%;" class="block animate" data-animate="bounceIn"
            data-duration="1.0s" data-delay="0.1s"> aaa</div>
</div>