<div class="internal-page" id="about">
    <div class="header-content">    
        <div class="header">
            about
        </div>
    </div> <!-- header-content -->

    <div class="content">
        <div class="about">
            <div class="container">
                <div class="about-content">
                    <div class="data">
                        <h2> about me </h2>
                        <p> my name is <span class="colored"> waleed valencia </span> <br> i am maniac with programing from Secondary stage and start working as front end developer from about 5 years , find out my carrer </p>
                    </div>
                    <div class="image">
                        <img class="img-fluid" src="../../assets/images/web-designer.png" />
                    </div>
                </div>
            </div>
        </div> <!-- about -->


        
        <div class="carrer">
            <div class="container">
                <div class="about-content">
                    <div class="data">
                        <h2> Carrer History   </h2>
                        <p> my name is <span class="colored"> waleed valencia </span> <br> i am maniac with programing from Secondary stage and start working as front end developer from about 5 years , find out my carrer </p>
                    </div>
                    <div class="image">
                        <img class="img-fluid" src="../../assets/images/web-designer.png" />
                    </div>
                </div>
            </div>
        </div> <!-- carrer -->

        <br><br><br><br><br><br><br><br><br><br><br>
        <p style="min-height: 300px;" class="text-center"> Carrer History ( 2 years marketing - 2 years graphic designer - 5 years front end developer ) </p>
        <p style="min-height: 300px;" class="text-center"> work expeniance ( marketing - graphic - developer ) </p>
        <p style="min-height: 300px;" class="text-center"> find out my portfolio </p>
    </div> <!-- content -->
</div> <!-- internal-page -->