<div class="internal-page" id="about">
    <div class="header-content">    
        <div class="header">
            about
        </div>
    </div> <!-- header-content -->

    <div class="content">
        <div class="about">
            <div class="container">
                <div class="about-content">
                    <div class="data">
                        <h2> about me </h2>
                        <p> my name is <span class="colored"> waleed valencia </span> <br> i am maniac with programing from Secondary stage and start working as front end developer from about 5 years , find out my carrer </p>
                    </div>
                    <div class="image">
                        <img class="img-fluid" src="../../assets/images/web-designer.png" />
                    </div>
                </div>
            </div>
        </div> <!-- about -->

        <div class="carrer">
            <div class="container">
                <div class="carrer-content">
                    <div class="data">
                        <h2> Carrer </h2>
                        <div class="steps">
                            <div class="one-step">
                                <div class="step-content">
                                    <h5> 2 years </h5>
                                    <h4> marketing specialist </h4>
                                </div>
                            </div> <!-- one-step -->
                            <div class="one-step" style="margin-left: -20px; box-shadow: 0 0 5px #607D8B; margin-bottom: 80px;">
                                <div class="step-content">
                                    <h5> 2 years </h5>
                                    <h4> graphic designer </h4>
                                </div>
                            </div> <!-- one-step -->
                            <div class="one-step" style="margin-left: -20px; box-shadow: 0 0 5px #607D8B; margin-bottom: 160px;">
                                <div class="step-content">
                                    <h5> 2 years </h5>
                                    <h4> web designer </h4>
                                </div>
                            </div> <!-- one-step -->
                            <div class="one-step" style="margin-left: -20px; box-shadow: 0 0 5px #607D8B; margin-bottom: 240px;">
                                <div class="step-content">
                                    <h5> 3 years </h5>
                                    <h4>  front end developer </h4>
                                </div>
                            </div> <!-- one-step -->
                        </div> <!-- steps -->
                    </div> <!-- data -->
                </div>
            </div>
        </div> <!-- carrer -->

        <br><br><br><br><br><br><br><br><br><br><br>
        <p style="min-height: 300px;" class="text-center">
            find out my portfolio
        </p>
    </div> <!-- content -->
</div> <!-- internal-page -->
