<div class="internal-page" id="about">
    <div class="header-content">    
        <div class="header">
            about
        </div>
    </div> <!-- header-content -->

    <div class="content">
        <div class="about">
            <div class="container">
                <div class="about-content">
                    <div class="data">
                        <h2 class="splited-headline"> about me </h2>
                        <p  class="splited-paragraph"> My name is <span class="colored"> waleed valencia </span> <br> i am maniac with programing from Long ago and start working as front end developer from about 5 years , find out my EXP. </p>
                    </div>
                    <div class="image">
                        <img class="img-fluid" src="../../assets/images/web-designer.png" />
                    </div>
                </div>
            </div>
        </div> <!-- about -->

        <hr>
        
        <div class="carrer">
            <div class="container">
                <div class="carrer-content">
                    <div class="data">
                        <h2 class="splited-headline"> Work <br> Experience </h2>
                        <div class="steps">
                            <div class="one-step">
                                <div class="step-content">
                                    <h5> 2 years </h5>
                                    <h4> marketing specialist </h4>
                                </div>
                            </div> <!-- one-step -->
                            <div class="one-step">
                                <div class="step-content">
                                    <h5> 2 years </h5>
                                    <h4> graphic designer </h4>
                                </div>
                            </div> <!-- one-step -->
                            <div class="one-step">
                                <div class="step-content">
                                    <h5> 2 years </h5>
                                    <h4> web designer </h4>
                                </div>
                            </div> <!-- one-step -->
                            <div class="one-step">
                                <div class="step-content">
                                    <h5> 3 years </h5>
                                    <h4>  front end developer </h4>
                                </div>
                            </div> <!-- one-step -->
                        </div> <!-- steps -->
                    </div> <!-- data -->
                </div>
            </div>
        </div> <!-- carrer -->
        <div class="about-footer">
            <div class="container">
                <div class="about-footer-content">
                    <div class="data">
                        <p class="splited-headline">
                            <a routerLink="/skills"> find out my Skills </a>
                        </p>
                    </div> <!-- content -->
                    <div class="my-image">
                        <img class="me img-fluid" src="../../assets/images/me.png"/>
                        <img class="laptop img-fluid" src="../../assets/images/laptop.png"/>
                    </div> <!-- my-image -->
                </div> <!-- about-footer-content -->
                
            </div>
            <br><br><br>
        </div>
    </div> <!-- content -->
</div> <!-- internal-page -->
