<div class="internal-page" id="contact">
    <div class="header-content">
        <div class="header">
        </div>
    </div> <!-- header-content -->


    <div class="content">
        <div class="container">
            <div class="contact-page">
                <div class="my-data">

                    <div class="one-contact">
                        <h3> phone </h3>
                        <p> 01273495477 </p>
                    </div> <!-- one-contact -->

                    <div class="one-contact">
                        <h3> Email </h3>
                        <p> me@elwebdesigner.com </p>
                    </div> <!-- one-contact -->

                    <div class="one-contact">
                        <h3> Location </h3>
                        <p> work from home , freelancer </p>
                    </div> <!-- one-contact -->

                    <div class="one-contact">
                        <a href="https://www.linkedin.com/in/elwebdesigner/" target="_blank"> <i class="fab fa-linkedin-in"></i> </a>
                    </div> <!-- one-contact -->

                </div>

            </div>
        </div><!-- container -->
    </div> <!-- content -->
</div>