<div class="internal-page" id="skills">
    <div class="header-content">
        <div class="header">
            skills
        </div>
    </div> <!-- header-content -->

    <div class="content">
        <div class="skills-page">
            <div class="design">
                <div class="headline design-char">
                    DESIGN SKILLS - DESIGN SKILLS - DESIGN SKILLS - DESIGN SKILLS 
                </div>
                <div class="container">
                    <div class="design-content">
                        <div class="one-item">
                            <div class="image">
                                <img class="img-fluid" src="../../assets/images/photoshop-cc.svg"/>
                            </div>
                            <div class="data">
                                <h1> <small> adobe </small> <br> photoshop </h1>
                            </div>
                        </div>

                        <div class="one-item">
                            <div class="data">
                                <h1> <small> adobe </small> <br> illustrator </h1>
                            </div>
                            <div class="image">
                                <img class="img-fluid" src="../../assets/images/adobe-illustrator-cc.svg"/>
                            </div>
                        </div>
                        
                        
                    </div> <!-- design-content -->
                </div> <!-- container -->
            </div> <!-- design -->

            <div class="technical">
                <h1 class="text-center headline"> Technical Skills Technical Skills Technical Skills Technical Skills </h1>

                <div class="technical-skills-container">
                    <div class="outer-circle">
                        <div class="skill html">        <img class="img-fluid" src="../../assets/images/html.png" /> </div>
                        <div class="skill css">         <img class="img-fluid" src="../../assets/images/css.png" /> </div>
                        <div class="skill js">          <img class="img-fluid" src="../../assets/images/js.png" /> </div>
                        <div class="skill jquery">      <img class="img-fluid" src="../../assets/images/jquery.png" /> </div>
                        <div class="skill bootstrap">   <img class="img-fluid" src="../../assets/images/bootstrap.png" /> </div>
                        <div class="skill angular">     <img class="img-fluid" src="../../assets/images/angular.png" /> </div>
                        <div class="skill cpanel">      <img class="img-fluid" src="../../assets/images/cpanel.png" /> </div>
                        <div class="skill whm">         <img class="img-fluid" src="../../assets/images/whm.png" /> </div>
                        <div class="strock outer-strock"></div>
                    </div>
                    <div class="inner-circle">
                        <div class="skill php"> <img class="img-fluid" src="../../assets/images/php.png" /> </div>
                        <div class="skill mysql"> <img class="img-fluid" src="../../assets/images/mysql.png" /> </div>
                        <div class="skill wordpress"> <img class="img-fluid" src="../../assets/images/wordpress.png" /> </div>
                        <div class="strock inner-strock"></div>
                    </div>
                    <div class="main-circle"> main-circle</div>
                </div> <!-- technical-skills-container -->

            </div><!-- technical -->

            <div class="soft">
                <h1 class="text-center headline"> Soft Skills Soft Skills Soft Skills Soft Skills Soft Skills </h1>
                <div class="container">
                    <div class="soft-content">
                        <div class="time">
                            <h1> Time <br> <small> Management </small> </h1>
                            <img src="../../assets/images/clock.png" class="img-fluid">
                        </div>
                        <div class="project">
                            <h1> Project  <br> <small> Management </small> </h1>
                            <img src="../../assets/images/project.png" class="img-fluid">
                        </div>
                        <div class="seo">
                            <h1> SEO <br> <small> Optimize </small> </h1>
                            <img src="../../assets/images/seo.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <p>   </p>
        </div> <!-- skills -->


                <br><br><br><br><br><br><br><br><br><br><br>
                <p style="min-height: 300px;" class="text-center">
                    find out my portfolio
                </p>

    </div> <!-- content -->
</div><!-- internal-page -->