<div class="internal-page" id="portfolio">
    <div class="header-content">
        <div class="header">
        </div>
    </div> <!-- header-content -->

    <div class="content">
        <div class="container">
            <div class="portfolio-page">

                    <div class="one-item left">
                        <a target="_blank" href="http://egy-trans.com/">
                            <div class="one-item-content">
                                <img class="img-fluid" src="../../assets/images/001.png" />
                                <div class="item-logo">
                                    <img class="img-fluid" src="../../assets/images/01.png" />
                                </div>
                            </div> <!-- one-item-content -->
                        </a>
                    </div> <!-- one-item -->
    


                <div class="one-item right">
                    <a target="_blank" href="http://melsyasa.com">
                        <div class="one-item-content">
                            <img class="img-fluid" src="../../assets/images/002.png" />
                            <div class="item-logo">
                                <img class="img-fluid" src="../../assets/images/02.png" />
                            </div>
                        </div> <!-- one-item-content -->
                    </a>
                </div> <!-- one-item -->

                <div class="one-item center">
                    <a target="_blank" href="http://mismonsa.com">
                        <div class="one-item-content">
                            <img class="img-fluid" src="../../assets/images/003.png" />
                            <div class="item-logo">
                                <img style="width: 320px;" class="img-fluid" src="../../assets/images/03.png" />
                            </div>
                        </div> <!-- one-item-content -->
                    </a>
                </div> <!-- one-item -->

                <div class="one-item left">
                    <a target="_blank" href="http://msg-lawyers.com">
                        <div class="one-item-content">
                            <img class="img-fluid" src="../../assets/images/004.png" />
                            <div class="item-logo">
                                <img style="width: 260px;" class="img-fluid" src="../../assets/images/04.png" />
                            </div>
                        </div> <!-- one-item-content -->
                    </a>
                </div> <!-- one-item -->

                <div class="one-item right">
                    <a target="_blank" href="http://raya-global.com">
                        <div class="one-item-content">
                            <img class="img-fluid" src="../../assets/images/005.png" />
                            <div class="item-logo">
                                <img style="width: 400px;" class="img-fluid" src="../../assets/images/05.png" />
                            </div>
                        </div> <!-- one-item-content -->
                    </a>
                </div> <!-- one-item -->

                <div class="one-item center">
                    <a target="_blank" href="http://megatrust.net">
                        <div class="one-item-content">
                            <img class="img-fluid" src="../../assets/images/006.png" />
                            <div class="item-logo">
                                <img style="width: 400px; background: #002132; padding: 20px 30px;" class="img-fluid"
                                    src="../../assets/images/06.png" />
                            </div>
                        </div> <!-- one-item-content -->
                    </a>
                </div> <!-- one-item -->

                <div class="one-item left">
                    <a target="_blank" href="http://west-elbalad.com">
                        <div class="one-item-content">
                            <img class="img-fluid" src="../../assets/images/007.png" />
                            <div class="item-logo">
                                <img style="width: 400px;" class="img-fluid" src="../../assets/images/07.png" />
                            </div>
                        </div> <!-- one-item-content -->
                    </a>
                </div> <!-- one-item -->

            </div> <!-- portfolio-page -->
            <div class="page-footer">
                <div class="container">
                    <div class="about-footer-content">
                        <div class="data">
                            <p class="splited-headline">
                                <a routerLink="/portfolio"> Contact <br> Me </a>
                            </p>
                        </div> <!-- content -->
                        <div class="my-image">
                            <img class="me img-fluid" src="../../assets/images/me.png" />
                            <img class="laptop img-fluid" src="../../assets/images/laptop.png" />
                        </div> <!-- my-image -->
                    </div> <!-- about-footer-content -->
            
                </div>
                <br><br><br>
            </div>
        </div> <!-- container -->
    </div>
</div>