<div class="internal-page" id="portfolio">
    <div class="header-content">
        <div class="header">
            portfolio
        </div>
    </div> <!-- header-content -->

    <div class="content">
        <div class="container">
            <div class="portfolio-page">
                <div class="one-item left">
                    <img class="img-fluid" src="../../assets/images/001.png"/>
                </div>
                <div class="one-item right">
                    <img class="img-fluid" src="../../assets/images/001.png"/>
                </div>
                <div class="one-item center">
                    <img class="img-fluid" src="../../assets/images/001.png"/>
                </div>

                <div class="one-item left">
                    <img class="img-fluid" src="../../assets/images/001.png"/>
                </div>
                <div class="one-item right">
                    <img class="img-fluid" src="../../assets/images/001.png"/>
                </div>
                <div class="one-item center">
                    <img class="img-fluid" src="../../assets/images/001.png"/>
                </div>

                <div class="one-item left">
                    <img class="img-fluid" src="../../assets/images/001.png"/>
                </div>
                <div class="one-item right">
                    <img class="img-fluid" src="../../assets/images/001.png"/>
                </div>
                <div class="one-item center">
                    <img class="img-fluid" src="../../assets/images/001.png"/>
                </div>

            </div> <!-- portfolio-page -->
            egy-trans.com
            eyefree.net
            melsyasa.com
            mismonsa.com
            msg-lawyers.com
            mwheba.com
            raya-global.com
            west-elbalad.com
            megatrust.net
        </div> <!-- container -->
    </div>
</div>