<i class="fa fa-bars menu-icon"></i>
<div class="menu-container">
    <ul>
        <li> <a class="menu-link" routerLink="/home"> home page </a></li>
        <li> <a class="menu-link" routerLink="/about"> about </a></li>
        <li> <a class="menu-link" routerLink="/skills"> skills </a></li>
        <li> <a class="menu-link" routerLink="/portfolio"> portfolio </a> </li>
        <li> <a class="menu-link" routerLink="/contact"> contact </a> </li>
    </ul>
</div>
<router-outlet></router-outlet>
<!-- Routed components go here -->