/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:500,700,900&display=swap');


html,body{ 
	width:100%;
	height:100%;
    font-family: 'Poppins', sans-serif;
	line-height: 1.4;
}

body.home-page{
	overflow: hidden;

	.menu-icon{
		display: none;
	}
}

body.internal-page-body {
    overflow-x: hidden;
}

.flex-center-center{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

a:hover , a:active , a:focus{
    text-decoration: none !important;
}

.main-transition{
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
}

.colored{
    font-weight: bold;
    color: #f00;
}
.menu-icon {
    position: absolute;
    top: -160px;
    left: -160px;
    z-index: 9999;
    font-size: 22px;
    padding: 20px;
    background: #dedede;
    border: 2px solid;
    cursor: pointer;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    transform: rotate(45deg);
}


.menu-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background: #f00;
    z-index: 999;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    @extend .main-transition;
    ul {
        list-style: none;
        padding: 0;
        display: none;
        li {
            font-size: 58px;
            text-align: center;
            color: #fff;
            text-transform: capitalize;
        }
    }

    ul.active{
        display: flex;
        flex-direction: column;
    }
}

.menu-container.active{
    height: 100%;
    @extend .main-transition;
}








.home-page-component {
    width: 110%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    overflow: hidden;
    margin-left: -5%;
    @extend .main-transition;

    .one-item{
        width: 25%;
        height: 140vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 2px solid;
        margin-top: -10%;
        transform: rotate(8deg);
        background: url(./assets/images/about.jpg);
        background-size: cover;
        @extend .main-transition;
        cursor: pointer;

        &:hover{
            width: 800px;
            @extend .main-transition;
        }

        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:RGBA(0,0,0,0.3);
            @extend .main-transition;
        }
    }

    .one-item:hover:after{
        height: 0%;
        @extend .main-transition;
    }

    .one-item.active:after{
        content: none;
    }

}

.internal-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    @extend .main-transition;

    .header-content{
        width: 110%;
        height: 100vh;
        overflow: hidden;
        background: #0ff;
        margin-left: -5%;

        // -webkit-perspective: 100px;
        // perspective: 100px;
        // perspective-origin: center;

        .header{
            width: 100%;
            height: 140vh;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            border: 2px solid;
            margin-top: -10%;
            transform: rotate(8deg);
            @extend .main-transition;
            cursor: pointer;
            background: url(./assets/images/about.jpg);
            background-size: cover;

            // -webkit-transform-style: preserve-3d;
            // transform-style: preserve-3d;
        }
    }
}

.content{
    background: #0ff;
    height: auto;
    width: 100%;
    color: #000;

    .about{
        padding: 60px 0;
        .about-content{
            display:flex;
            flex-direction: row;
            .data{
                width: 60%;
                h2 {
                    font-size: 5rem;
                    text-transform: capitalize;
                }
                p{
                    font-size: 2.3rem;
                }
            }
            .image{
                width:40%;
            }
        }
    }

    .carrer-content {
        h2 {
            font-size: 5rem;
        }
        .steps {
            background: #f00;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;
            align-content: center;
            padding: 30px 0 ;
            .one-step {
                width: 23%;
                position: relative;
                z-index: 9;
                &::before{
                    content: "";
                    position: absolute;
                    width: 88%;
                    height: 100%;
                    background: rgba(0,0,0,0.1);
                    border-right: 2px solid #000;
                    border-bottom: 2px solid #000;
                    right: -20px;
                    bottom: -20px;
                    z-index: -1;
                }
                .step-content{
                    background: #fff;
                    padding: 30px;
                    display: inline-flex;
                    flex-direction: column;
                    text-transform: capitalize;
                    width: 100%;
                    z-index: 99;
                }
            }
        }
    }

    .skills{
        .design{
            position: relative;
            overflow: hidden;
            .headline{
                font-size: 6rem;
                text-transform: capitalize;
                margin-bottom: 50px;
                position: absolute;
                transform: rotate(90deg);
                white-space: nowrap;
                background: #f00;
                color:#fff;
                top: -72px;
                left: 72px;
                display: block;
                width: 100%;
                line-height: 1.5;
                transform-origin: left;
            }
            .design-content{
                padding: 80px 0;

                .one-item{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: stretch;
                    align-content: stretch;
                    margin-bottom: 30px;
                    .image{
                        img{
                            max-width: 400px;
                        }
                    }
                    .data{
                        padding: 0 30px;
                        h1{
                            font-size: 5.2rem;
                            text-transform: capitalize;
                        }
                    }
                }
                .one-item:nth-child(2){
                    justify-content: flex-end;
                    h1{
                        text-align: right;
                    }
                }

            }
        }

        .technical{
            position: relative;
            height: 100vh;
            width: 100%;
            @extend .main-transition;
            .headline{
                padding: 0 30px;
                font-size: 6rem;
                text-transform: capitalize;
                margin-bottom: 50px;
                position: absolute;
                transform: rotate(8deg);
                white-space: nowrap;
                background: #f0f;
                color: #fff;
                display: block;
                line-height: 1.5;
                width: 120%;
                left: -10%;
                top: -20px;
            }

            .technical-skills-container{
                width: 900px;
                height: 900px;
                margin: auto;
                position: relative;
                background: #50f;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: center;
            }
            .skill {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                padding: 10px;
                border: 4px solid #fff;
                background: #fff;
                position: absolute;
                z-index: 99;
            }



.skill.html {
    left: calc(50% - 75px);
    top: -75px;
}
.skill.css {
    left: 5%;
    top: 10%;
}
.skill.js {
    right: 5%;
    top: 10%;
}
.skill.jquery {
    right: 5%;
    bottom: 10%;
}
.skill.bootstrap {
    left: 5%;
    bottom: 10%;
}
.skill.angular {
    left: calc(50% - 75px);
    bottom: -75px;
}
.skill.whm {
    left: -75px;
    top: calc( 50% - 75px );
}
.skill.cpanel {
    right: -75px;
    top: calc( 50% - 75px );
}
.skill.php {
    left: calc(50% - 75px);
    top: -75px;
}
.skill.mysql {
    left: -55px;
    bottom: 10%;
}
.skill.wordpress {
    right: -55px;
    bottom: 10%;
}


            .outer-circle{
                width: 90%;
                height: 90%;
                position: absolute;
                border-radius: 50%;
            }
            .inner-circle{
                width: 40%;
                height: 40%;
                position: absolute;
                border-radius: 50%;
            }
            .inner-circle , .outer-circle{
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 10px dashed #fff;
                    border-radius: 50%;
                    @extend .main-transition;
                }
            }
            .main-circle{
                width: 40%;
                background: #f8f;
                height: 40%;
                position: absolute;
                border-radius: 50%;
                display: none;
            }

        }
        .technical * {
            @extend .main-transition;
        }
    }
}

 