<section class="home-page-component" id="home">
    <a class="one-item" id="about" [bcRouterLink]="['/about']" [navigationDelay]="1100">
        <span class="word">About</span>
    </a>
    <a class="one-item" id="skills" [bcRouterLink]="['/skills']" [navigationDelay]="1100">
        <span class="word">Skills </span>
    </a>
    <a class="one-item" id="portfolio" [bcRouterLink]="['/portfolio']" [navigationDelay]="1100">
        <span class="word"> Portfolio </span>
    </a>
    <a class="one-item" id="contact" [bcRouterLink]="['/contact']" [navigationDelay]="1100">
        <span class="word"> Contact </span>
    </a>
</section>