<section class="home-page-component" id="home">
    <a class="one-item" id="about" [bcRouterLink]="['/about']" [navigationDelay]="600">
        about
    </a>
    <a class="one-item" id="skils" [bcRouterLink]="['/skils']" [navigationDelay]="600">
        skils
    </a>
    <a class="one-item" id="portfolio" [bcRouterLink]="['/portfolio']" [navigationDelay]="600">
        portfolio
    </a>
    <a class="one-item" id="contact" [bcRouterLink]="['/contact']" [navigationDelay]="600">
        contact
    </a>
</section>